<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Table-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Cups/styleCup.css">
    <title>FA Cup</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a href="/Tables/templates/Main.html" class="nav-link">HOME</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Countries
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="../Cups/England.html">England</a></li>
                        <li><a class="dropdown-item" href="../Cups/Spain.html">Spain</a></li>
                        <li><a class="dropdown-item" href="../Cups/Italy.html">Italy</a></li>
                        <li><a class="dropdown-item" href="../Cups/Germany.html">Germany</a></li>
                        <li><a class="dropdown-item" href="../Cups/France.html">France</a></li>
                        <li><a class="dropdown-item" href="../Cups/Ukraine.html">Ukraine</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="winners-list">
        <h2>All winners</h2>
        <ul>
            <li>Arsenal <span>14</span></li>
            <li>Manchester United <span>13</span></li>
            <li>Chelsea <span>8</span></li>
            <li>Liverpool <span>8</span></li>
            <li>Tottenham Hotspur <span>8</span></li>
            <li>Manchester City <span>7</span></li>
            <li>Aston Villa <span>7</span></li>
            <li>Newcastle United <span>6</span></li>
            <li>Blackburn Rovers <span>6</span></li>
            <li>Everton <span>5</span></li>
            <li>West Bromwich Albion <span>5</span></li>
            <li>Wanderers <span>5</span></li>
            <li>Wolverhampton Wanderers <span>4</span></li>
            <li>Bolton Wanderers <span>4</span></li>
            <li>Sheffield United <span>4</span></li>
            <li>Sheffield Wednesday <span>3</span></li>
            <li>West Ham United <span>3</span></li>
            <li>Preston North End <span>2</span></li>
            <li>Nottingham Forest <span>2</span></li>
            <li>Portsmouth <span>2</span></li>
            <li>Sunderland <span>2</span></li>
            <li>Bury <span>2</span></li>
            <li>Old Etonians <span>2</span></li>
            <ul>
                <li>Huddersfield Town <span>1</span></li>
                <li>Leicester City <span>1</span></li>
                <li>Oxford University <span>1</span></li>
                <li>Royal Engineers <span>1</span></li>
                <li>Derby County <span>1</span></li>
                <li>Leeds United <span>1</span></li>
                <li>Southampton <span>1</span></li>
                <li>Burnley <span>1</span></li>
                <li>Cardiff City <span>1</span></li>
                <li>Blackpool <span>1</span></li>
                <li>Crystal Palace <span>1</span></li>
                <li>Clapham Rovers <span>1</span></li>
                <li>Notts County <span>1</span></li>
                <li>Barnsley <span>1</span></li>
                <li>Charlton Athletic <span>1</span></li>
                <li>Old Carthusians <span>1</span></li>
                <li>Blackburn Olympic <span>1</span></li>
                <li>Bradford City <span>1</span></li>
                <li>Ipswich Town <span>1</span></li>
                <li>Coventry City <span>1</span></li>
                <li>Wimbledon <span>1</span></li>
                <li>Wigan Athletic <span>1</span></li>
            </ul>


        </ul>
    </div>

    <div class="recent-table">
        <h2>Last 10 winners</h2>
        <table>
            <thead>
            <tr>
                <th>Year</th>
                <th>Winner</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>2025</td><td>Crystal Palace</td></tr>
            <tr><td>2024</td><td>Manchester United</td></tr>
            <tr><td>2023</td><td>Manchester City</td></tr>
            <tr><td>2022</td><td>Liverpool</td></tr>
            <tr><td>2021</td><td>Leicester City</td></tr>
            <tr><td>2020</td><td>Arsenal</td></tr>
            <tr><td>2019</td><td>Manchester City</td></tr>
            <tr><td>2018</td><td>Chelsea</td></tr>
            <tr><td>2017</td><td>Arsenal</td></tr>
            <tr><td>2016</td><td>Manchester United</td></tr>


            </tbody>
        </table>
    </div>
</div>

</body>
</html>
