body {
    background-color: #53cbf9;
    font-family: Arial, sans-serif;
}

.tables-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px auto;
    max-width: 500px;
    transform: scale(0.735); /* уменьшение до 75% */
    transform-origin: top left; /* масштаб от левого верхнего угла */
}

.mini-table {
    background: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.mini-table h3 {
    text-align: center;
    font-size: 40px; /* больше шрифт */
    color: white;
    background-color:#4816b5 ;
}

.mini-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
}

.mini-table th,
.mini-table td {
    padding: 12px 6px; /* меньше по горизонтали, чтобы столбцы были уже */
    font-size: 16px;   /* увеличенный шрифт */
}

/* Убираем все линии */
.mini-table th,
.mini-table td {
    border: none;
}

/* Заголовки */
.mini-table th {
    background-color: #4816b5;
    color: #fff;
    font-weight: bold;
}

/* Цветные ячейки позиции */
.mini-table table tbody tr.ucl td:first-child {
    background-color: #001f5b;
    color: #fff;
    font-weight: bold;
}

.mini-table table tbody tr.uel td:first-child {
    background-color: #ff7f00;
    color: #fff;
    font-weight: bold;
}

.mini-table table tbody tr.uecl td:first-child {
    background-color: #2ecc71;
    color: #fff;
    font-weight: bold;
}

.mini-table table tbody tr.relegation td:first-child {
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
}

/* Чередование строк (опционально) */
.mini-table table tbody tr:nth-child(even) td {
    background-color: #f8f8f8;
}

/* Navbar */
.navbar {
    background-color: #4816b5; /* фиолетовый фон */
    padding: 12px 20px;
    font-family: Arial, sans-serif;
}

.navbar .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.navbar .nav-link {
    color: #ffffff !important; /* белый текст */
    font-size: 25px;
    margin-left: 15px;
}

.navbar .dropdown-menu {
    position: absolute; /* поверх navbar */
    top: 100%;          /* сразу под кнопкой */
    left: 0;            /* по левому краю кнопки */
    width: auto;        /* под содержимое */
    min-width: 150px;   /* минимальная ширина */
    z-index: 1000;
}

.navbar .dropdown-item {
    color: #4816b5; /* фиолетовый текст */
    font-weight: 500;
}

.navbar .dropdown-item:hover {
    background-color: #4816b5; /* фиолетовый фон при наведении */
    color: #ffffff; /* белый текст при наведении */
}
.navbar .nav-item {
    position: relative; /* родитель для абсолютного меню */
}


