<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<nav class="navbar">
    <a href="../Main.html" class="nav-link">🏠 Main page</a>
</nav>

<div class="container">
    <h1>Cups</h1>
    <table class="main-table">
        <tbody>
        <tr><td><a href="../Leagues/England/2023-24.html">England</a></td></tr>
        <tr><td><a href="../Leagues/Spain/2023-24.html">Spain</a></td></tr>
        <tr><td><a href="../Leagues/Italy/2023-24.html">Italy</a></td></tr>
        <tr><td><a href="../Leagues/Germany/2023-24.html">Germany</a></td></tr>
        <tr><td><a href="../Leagues/France/2023-24.html">France</a></td></tr>
        <tr><td><a href="../Leagues/Ukraine/2023-24.html">Ukraine</a></td></tr>
        </tbody>
    </table>
</div>
</body>
</html>
