<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <!--Table-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom">
    <a href="../Main.html" class="nav-link">HOME</a>
</nav>

<div class="container">
    <h1>Winners Tables</h1>
    <table class="main-table">
        <tbody>
        <tr>
            <td><a href="../WinnerTables/UCl.html">Champions League</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/UEL.html">Europe League</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/UECL.html">Conference League</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/UEFA_Supercup.html">UEFA Supercup</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/ClubWorldCup.html">Club World Cup</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/BallonDor.html">Ballon D'or</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/EverySeasonWinners.html">Every Season Winners</a></td>
        </tr>
        </tbody>
    </table>
    <table class="main-table">
        <tbody>
        <tr>
            <td><a href="../WinnerTables/WorldCup.html">World Cup</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/Euro.html">Euro</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/CopaAmerica.html">Copa America</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/AfricanCup.html">African Cup</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/AsiaCup.html">Asian Cup</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/NationsLeague.html">Nations League</a></td>
        </tr>
        <tr>
            <td><a href="../WinnerTables/Olympics.html">Olympics</a></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
