<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Tables Project</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
    <h1>Football Tables Project</h1>
    <table class="main-table">
        <thead>
        <tr>
            <th>Category</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Leagues</td>
            <td><a href="/Tables/templates/Categories/Leagues.html">Open</a></td>
        </tr>
        <tr>
            <td>Cups</td>
            <td><a href="/Tables/templates/Categories/cups.html">Open</a></td>
        </tr>
        <tr>
            <td>Top-4</td>
            <td><a href="/Tables/templates/Categories/Top4.html">Open</a></td>
        </tr>
        <tr>
            <td>Eurocups</td>
            <td><a href="/Tables/templates/Categories/Eurocups.html">Open</a></td>
        </tr>
        <tr>
            <td>National Teams</td>
            <td><a href="/Tables/templates/Categories/NationalTeams.html">Open</a></td>
        </tr>
        <tr>
            <td>Winner Tables</td>
            <td><a href="/Tables/templates/Categories/WinnerTables.html">Open</a></td>
        </tr>
        <tr>
            <td>Ukraine Tables</td>
            <td><a href="/Tables/templates/Categories/UkraineTables.html">Open</a></td>
        </tr>
        <tr>
            <td>Ukraine NT</td>
            <td><a href="/Tables/templates/Categories/UkraineNationalTeam.html">Open</a></td>
        </tr>
        <tr>
            <td>Metalist</td>
            <td><a href="/Tables/templates/Categories/Metalist.html">Open</a></td>
        </tr>
        <tr>
            <td>Ukraine Eurocups</td>
            <td><a href="/Tables/templates/Categories/UkraineEurocups.html">Open</a></td>
        </tr>
        <tr>
            <td>Futsal</td>
            <td><a href="/Tables/templates/Categories/Futsal.html">Open</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
