<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <!--Table-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
    <h1>Football Tables</h1>
    <table class="main-table">
        <thead>
        <tr>
            <th>World</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Leagues</td>
            <td><a href="/Tables/templates/Categories/Leagues.html">Open</a></td>
        </tr>
        <tr>
            <td>Cups</td>
            <td><a href="/Tables/templates/Categories/cups.html">Open</a></td>
        </tr>
        <tr>
            <td>Top-4</td>
            <td><a href="/Tables/templates/Categories/Top4.html">Open</a></td>
        </tr>
        <tr>
            <td>Eurocups</td>
            <td><a href="/Tables/templates/Categories/Eurocups.html">Open</a></td>
        </tr>
        <tr>
            <td>National Teams</td>
            <td><a href="/Tables/templates/Categories/NationalTeams.html">Open</a></td>
        </tr>
        <tr>
            <td>Winner Tables</td>
            <td><a href="/Tables/templates/Categories/WinnerTables.html">Open</a></td>
        </tr>
        </tbody>
    </table>
    <table class="main-table">
        <thead>
        <tr>
            <th>Ukraine</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ukraine Tables</td>
            <td><a href="/Tables/templates/Categories/UkraineTables.html">Open</a></td>
        </tr>
        <tr>
            <td>Ukraine Eurocups</td>
            <td><a href="/Tables/templates/Categories/UkraineEurocups.html">Open</a></td>
        </tr>
        <tr>
            <td>Ukraine National Team</td>
            <td><a href="/Tables/templates/Categories/UkraineNationalTeam.html">Open</a></td>
        </tr>
        <tr>
            <td>Metalist</td>
            <td><a href="/Tables/templates/Categories/Metalist.html">Open</a></td>
        </tr>
        <tr>
            <td>Futsal</td>
            <td><a href="/Tables/templates/Categories/Futsal.html">Open</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
