<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ukraine 2022-23</title>
    <!--Table-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/static/styles.css">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Countries
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/Tables/templates/England/2022-23.html">England</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Spain/2022-23.html">Spain</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Italy/2022-23.html">Italy</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Germany/2022-23.html">Germany</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/France/2022-23.html">France</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2022-23.html">Ukraine</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Seasons
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2012-13.html">2012-13</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2013-14.html">2013-14</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2014-15.html">2014-15</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2015-16.html">2015-16</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2016-17.html">2016-17</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2017-18.html">2017-18</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2018-19.html">2018-19</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2019-20.html">2019-20</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2020-21.html">2020-21</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2021-22.html">2021-22</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2023-24.html">2023-24</a></li>
                        <li><a class="dropdown-item" href="/Tables/templates/Ukraine/2024-25.html">2024-25</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/%D0%9E%D1%84%D1%96%D1%86%D1%96%D0%B9%D0%BD%D0%B0_%D0%B5%D0%BC%D0%B1%D0%BB%D0%B5%D0%BC%D0%B0_%D0%9F%D1%80%D0%B5%D0%BC%27%D1%94%D1%80-%D0%9B%D1%96%D0%B3%D0%B8.png/150px-%D0%9E%D1%84%D1%96%D1%86%D1%96%D0%B9%D0%BD%D0%B0_%D0%B5%D0%BC%D0%B1%D0%BB%D0%B5%D0%BC%D0%B0_%D0%9F%D1%80%D0%B5%D0%BC%27%D1%94%D1%80-%D0%9B%D1%96%D0%B3%D0%B8.png"
     class="leagueLogo">
<h1 class="seasonNumber">2022-23</h1>

<table class="table table-bordered table-striped" style="width: 30%; ">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th style="text-align: center">Team</th>
        <th style="text-align: center">Pts</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td style="background-color: blue"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/9728.png"> Shakhtar</td>
        <td><b><b>72</b></b></td>
    </tr>
    <tr>
        <td>2</td>
        <td style="background-color: blue"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/883952.png"> Dnipro-1</td>
        <td><b><b>67</b></b></td>
    </tr>
    <tr>
        <td>3</td>
        <td style="background-color: orange"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/7770.png"> Zorya</td>
        <td><b><b>64</b></b></td>
    </tr>
    <tr>
        <td>4</td>
        <td style="background-color: limegreen"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/8688.png"> Dynamo Kyiv</td>
        <td><b><b>60</b></b></td>
    </tr>
    <tr>
        <td>5</td>
        <td style="background-color: limegreen"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/2373.png"> Vorskla</td>
        <td><b><b>45</b></b></td>
    </tr>
    <tr>
        <td>6</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/6072.png"> Oleksandriya</td>
        <td><b><b>44</b></b></td>
    </tr>
    <tr>
        <td>7</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/558259.png"> Kryvbas</td>
        <td><b><b>41</b></b></td>
    </tr>
    <tr>
        <td>8</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/2143.png"> Kolos</td>
        <td><b><b>36</b></b></td>
    </tr>
    <tr>
        <td>9</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/965428.png"> Minaj</td>
        <td><b><b>36</b></b></td>
    </tr>
    <tr>
        <td>10</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/8666.png"> Chornomorets</td>
        <td><b><b>35</b></b></td>
    </tr>
    <tr>
        <td>11</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/859316.png"> Rukh</td>
        <td><b><b>32</b></b></td>
    </tr>
    <tr>
        <td>12</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/949030.png"> Metalist 1925</td>
        <td><b><b>32</b></b></td>
    </tr>
    <tr>
        <td>13</td>
        <td></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/1175395.png"> Veres</td>
        <td><b><b>31</b></b></td>
    </tr>
    <tr>
        <td>14</td>
        <td style="background-color: red"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/678761.png"> Inhulets</td>
        <td><b><b>31</b></b></td>
    </tr>
    <tr>
        <td>15</td>
        <td style="background-color: red"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/9744.png"> Metalist</td>
        <td><b><b>22</b></b></td>
    </tr>
    <tr>
        <td>16</td>
        <td style="background-color: red"></td>
        <td><img src="https://images.fotmob.com/image_resources/logo/teamlogo/5745.png"> Lviv</td>
        <td><b><b>13</b></b></td>
    </tr>
    </tbody>


</table>


</body>
</html>
